html,body{
    margin: 0;
    padding:0;  
}
:root{
    --blue:#6C63FF;
}

/* header*/
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  .topnav span{
      float: right;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: var(--blue);
    color: white;
  }
  #hero{
      width: 40rem;
      float: right;
  }
  .home-hero{
      padding: 5rem;
  }
  .home-hero h1{
      font-weight: bold;
      font-size: 4rem;
  }
  .home-hero a{
      text-decoration: none;
      color: white;
      background-color: var(--blue);
      padding: 1rem 2rem;
      font-weight: bold;
      font-size: 1rem;
  }


  /*login*/
  .loginWrap{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 15rem;
      margin-top: 10rem;
      border: 2px solid var(--blue);
      padding: 2rem 5rem;
  }
  .loginWrap h1{
      color: var(--blue);
      text-align: center;
  }
  .loginWrap input,select{
      width: 100%;
      
  }
  .loginWrap button{
      display: block;
      margin-left: auto;
      margin-right: auto;
      color: white;
      background-color: var(--blue);
      box-shadow: none;
      border: none;
      padding: 0.7rem 1.5rem;
      font-weight: bold;
      font-size: 1rem;
  }
  .loginWrap *{
      margin-bottom: 0.5rem;
  }

  /*register*/
  .regWrap{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17rem;
    margin-top: 5rem;
    border: 2px solid var(--blue);
    padding: 2rem 5rem;
  }
  .regWrap *{
    margin-bottom: 0.5rem;
}
.regWrap input,select{
    width: 100%;
    
}
.regWrap button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: var(--blue);
    box-shadow: none;
    border: none;
    padding: 0.7rem 1.5rem;
    font-weight: bold;
    font-size: 1rem;
}
.reg{
    text-align: center;
    padding-top: 10rem;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 2rem;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-content input{
      width: 100%;
  }
  .modal-content *{
      margin-bottom: 1rem;
  }
  .posted{
      border:2px solid var(--blue);
      width: 20rem;
      padding: 2rem 3rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .goback{
    text-decoration: none;
    color: white;
    background-color: var(--blue);
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 1rem;
  }
  #myBtn{
      background-color: var(--blue);
      color: white;
      box-shadow: none;
      border: none;
      width: fit-content;
      padding: 1rem 1.5rem;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 1rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .rtable{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      margin-top: 2rem;
  }
  .adList{
      padding: 2rem 3rem;
  }
  th{
      text-align: left;
  }
  table, th, td {
    border: 1px solid var(--blue);
    border-collapse: collapse;

  }
  .adItem{
      width: 20rem;
      text-align: center;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
      padding: 1rem 1rem;
        margin: 0.5rem;
    height: 27rem;;
    padding-bottom: 2rem;
    }
  .adItem img{
      width: 20rem;
  }
  .adItem a{
    text-decoration: none;
    color: white;
    background-color: var(--blue);
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 5rem;
  }
  .adWrap{
      display: grid;
      grid-template-columns: auto auto auto;
      padding-left: 5rem;
      padding-top: 2rem;
  }
  .adContainer h2{
      font-size: 2.5rem;
      text-align: center;
  }
  .adContainer img{
      width: 30%;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .adContainer span{
      font-weight: bold;
  }
  .adContainer a{
    text-decoration: none;
    color: white;
    background-color: var(--blue);
    padding: 0.7rem 1rem;
    font-weight: bold;
    font-size: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
    margin-bottom: 5rem;
  }
  .search{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
      margin-top: 1rem;
  }
  .search input{
      border: 2px solid var(--blue);
      height: 2rem;
      width: 20rem;
  }
  .search button{
      background-color: var(--blue);
      color: white;
      border: none;
      box-shadow: none;
      font-size: 1rem;
      padding: 0.5rem 1rem;
  }
  .search-error h1{
      text-align: center;
      margin-top: 2rem;
  }


  /*admindash*/
  /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  #Cat{
      display: block;
  }
  /* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  var(--blue); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  var(--brown); 
}
.tabcontent h2{
  margin-bottom: -2.5rem;
}